[Unit]
Description=Zwift-Autofan
After=network.target

[Service]
User=zwift-autofan
WorkingDirectory=/usr/lib/zwift-autofan
ExecStart=/usr/bin/gunicorn -w 1 -b 127.0.0.1:9000 zwift-autofan:app 

[Install]
WantedBy=multi-user.target
